<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <h1>Projeto IVAO</h1>
        <table id="customers">
            <caption>WORK IN PROGRESS: {{ webeye_login_status }}</caption>
            <tr>
                <th>Nome</th>
                <th>ID</th>
                <th>Curso</th>
                <th>Estado</th>
            </tr>
            {% for item in item_list %}
                <tr>
                    <td>{{item.nome}}</td>
                    <td>{{item.user_id}}</td>
                    <td>{{item.curso}}</td>
                    {% if item.estado|int < 1  %}
                        <td id="Off">Offline</td>
                    {%else%}
                        <td id = "On">Online</td>
                    {%endif%}
                </tr>
            {% endfor %}
        </table>

    </body>
</html>